<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>


<div class="container-fluid">
  
        <div class="pages"><%= will_paginate @products %></div>
  
  <div class="row">
    <% cache(cache_key_for_products) do %>
      <%= render @products %>
    <% end %>
  </div>  
</div>
<br>

<h4><%= link_to 'New Product', new_product_path %></h4>

